.app {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 180px;
    background-color: #f4f4f4;
    height: 100vh;
    padding: 10px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar .MuiListItemText-root {
    margin-left: 0px;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.form-wrapper {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 180px;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-header h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.form-container .MuiTextField-root {
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
}
